[user]
  name = brancobruyneel
  email = branco.bruyneel@gmail.com

[url "git@gitlab.com:"]
  insteadOf = https://gitlab.com/

[url "git@github.com:"]
	insteadOf = https://github.com/

[push]
 default = tracking
 autoSetupRemote = true

[init]
	defaultBranch = main
