! INCLUDE THEME !
#include ".Xresources.d/themes/base16-one-dark"

! INCLUDE ROFI !
!#include ".Xresources.d/rofi"

! INCLUDE POLYBAR !
#include ".Xresources.d/polybar"

! INCLUDE ST !
#include ".Xresources.d/st"

! INCLUDE DWM !
#include ".Xresources.d/dwm"

! INCLUDE DUNST !
#include ".Xresources.d/dunst"
